@page "/"
@inject HttpClient Http
<PageTitle>Home</PageTitle>

<h1>Movie List</h1>

@if (movies == null)
{
    <p>Loading movies...</p>
}
else if (!movies.Any())
{
    <p>No movies found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td>@movie.Name</td>
                    <td>@movie.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Movie>? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await Http.GetFromJsonAsync<List<Movie>>("/");
    }

    public class Movie
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Year { get; set; }
    }
}
